 [user] 
 	name = Suzuki Takayuki
 	email = 0fm38r05348532h@ezweb.ne.jp
 [https] 
 	proxy = http://cache4.hac.neec.ac.jp:8080 
 [http] 
 	proxy = http://cache4.hac.neec.ac.jp:8080 
 [push] 
 	default = simple 
 [credential] 
 	helper = cache --timeout=28800 
 [color] 
 	ui = auto 

